<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>TO Crime</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="../static/css/nucleo-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/leaflet.css" />
    <link rel="stylesheet" href="../static/css/leaflet-easy-button.css" />
    <link rel="stylesheet" href="../static/css/ripple.min.css" />

    <style>
      .leaflet-map {
        height: 500px;
        width: 100%;
      }
      
      .easy-button-button {
        display: block !important;
      }
      
      .tag-filter-tags-container {
        left: 30px;
      }
    </style>

  </head>

  <body class="">
    <div class="wrapper">
      <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
              TRT
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
              Crime Rate
            </a>
          </div>
          <ul class="nav">
            <li class="active ">
              <a href="./index.html">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li>
              <a href="./map.html">
                <i class="tim-icons icon-pin"></i>
                <p>Maps</p>
              </a>
            </li>
            <li>
              <a href="./tables.html">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Table List</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </button>
              </div>
              <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
              <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav ml-auto">
                <li class="search-bar input-group">
                  <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                    <span class="d-lg-none d-md-block">Search</span>
                  </button>
                </li>
                <li class="separator d-lg-none"></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Navbar -->
        <div class="content">
        <div class="page-wrapper">
          <div class="doc-wrapper">
              <div class="container">
                  <div id="doc-header" class="doc-header text-center">
                      <h1 class="doc-title"><i class="icon fa fa-filter"></i> Leaflet Tag Filter Button</h1>
                      <div class="meta"><i class="fa fa-clock-o"></i> Last updated: Apr 5th, 2018</div>
                      <section id="simple-usage-section" class="doc-section">
                          <h2 class="section-title">Simple Usage</h2>
                          <div class="section-block">
                              <div id="simple-usage-example" class="code-block">
                          </div>
                          <div id="simple-usage-map" style="width: 100%; height: 600px"></div>        
                      </section><!--//simple-usage-section-->
  
                  </div><!--//code-block-->
              </div><!--//section-block-->
  
          </div><!--//content-inner-->
        </div><!--//doc-content-->
    </div>
    
      </div>
    </div>  

    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="../static/js/just-crime.js"></script>
    <script type="text/javascript" src="../static/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/plugins/prism/prism.js"></script>    
    <script type="text/javascript" src="../static/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>                                                                
    <script type="text/javascript" src="../static/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="../static/js/just-crime.js"></script>
    <script type="text/javascript" src="../static/js/leaflet.js"></script>
    <script type="text/javascript" src="../static/js/leaflet-easy-button.js"></script>
    <script type="text/javascript" src="../static/js/leaflet-tag-filter-button.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script>
    
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
          $navbar = $('.navbar');
          $main_panel = $('.main-panel');
  
          $full_page = $('.full-page');
  
          $sidebar_responsive = $('body > .navbar-collapse');
          sidebar_mini_active = true;
          white_color = false;
  
          window_width = $(window).width();
  
          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();
  
          $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);
  
            if (sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              sidebar_mini_active = false;
              blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            } else {
              $('body').addClass('sidebar-mini');
              sidebar_mini_active = true;
              blackDashboard.showSidebarMessage('Sidebar mini activated...');
            }
          });  
  
  
        });
      });
    </script>

    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  

  </body>

</html>